
  img{
    width:50%;
    height: 80%;
    margin-top: 5%;
    }
    #im2{
      margin-top: 30%;
      width: 70%;
      height: 50%;
    }
    h5{
      font-family: fantasy;
    }
  #uno{
    background: lightgreen;
  
  }
  #dos{
  background:olivedrab;
  
  }
  #tres{
  background:goldenrod;
  }
  #cuatro{
  background: seagreen;
  }
  #cinco{
  background:darkgrey;

  }
  #seis{
  background:aquamarine;

  }
  
  button{
      margin: 2%;
  }